?
*~
*.obj
\#*
*.o
modules.order
rundsp
*.ko
*.elf
*.asm
*.dis
*.nm
Module.symvers
.tmp_versions
armdsp.mod.c
.armdsp.o.cmd
.armdsp.mod.o.cmd
.armdsp.ko.cmd
armhost
regdefs
regs-omap-l138.h
armnet
armnet.arm
dsptest
